@model LoginSolo.Models.Book;
@using LoginSolo;
@using LoginSolo.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
}


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Product Card/Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <style>
    .like-dislike-container {
      justify-content: space-around;
      margin: 10px;
    }

    .like-button,
    .dislike-button {
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      transition: background-color 0.3s ease;
    }

    .like-button:hover {
      background-color: #4caf50;
      /* Yeşil renk */
      color: #fff;
    }

    .dislike-button:hover {
      background-color: #f44336;
      /* Kırmızı renk */
      color: #fff;
    }

    .card {
      display: flex;
      /* Add other styles for the card container as needed */
    }

    .product-imgs {
      flex: 0 0 30%;
      /* Adjust the percentage based on your design */
      /* You can add other styles for the product images container */
    }

    .img-showcase {
      text-align: left;
      /* Align the image to the left within its container */
    }

    .small-image {
      width: 100%;
      /* Make the image take 100% width of its container */
      max-width: 700px;
      /* Set a maximum width to control the size */
      height: auto;
      /* Maintain the aspect ratio */
      display: block;
      /* Remove any extra space below the image */
      margin-right: auto;
      /* Align the image to the left */
      margin-left: auto;
      /* Align the image to the left */
      object-fit: cover;
    }

    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-family: 'Open Sans', sans-serif;
    }

    body {
      line-height: 1.5;
    }

    .card-wrapper {
      max-width: 1100px;
      margin: 0 auto;
    }

    img {
      width: 100%;
      display: block;
    }

    .img-display {
      overflow: hidden;
    }

    .img-showcase {
      display: flex;
      width: 100%;
      transition: all 0.5s ease;
    }

    .img-showcase img {
      min-width: 100%;
    }

    .img-select {
      display: flex;
    }

    .img-item {
      margin: 0.3rem;
    }

    .img-item:nth-child(1),
    .img-item:nth-child(2),
    .img-item:nth-child(3) {
      margin-right: 0;
    }

    .img-item:hover {
      opacity: 0.8;
    }

    .product-content {
      padding: 2rem 1rem;
    }

    .product-title {
      font-size: 3rem;
      text-transform: capitalize;
      font-weight: 700;
      position: relative;
      color: #12263a;
      margin: 1rem 0;
    }

    .product-title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 80px;
      background: #12263a;
    }

    .product-link {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 0.9rem;
      display: inline-block;
      margin-bottom: 0.5rem;
      background: #256eff;
      color: #fff;
      padding: 0 0.3rem;
      transition: all 0.5s ease;
    }

    .product-link:hover {
      opacity: 0.9;
    }

    .product-rating {
      color: #ffc107;
    }

    .product-rating span {
      font-weight: 600;
      color: #252525;
    }

    .product-price {
      margin: 1rem 0;
      font-size: 1rem;
      font-weight: 700;
    }

    .product-price span {
      font-weight: 400;
    }

    .last-price span {
      color: #f64749;
      text-decoration: line-through;
    }

    .new-price span {
      color: #256eff;
    }

    .product-name-title {
      height: 50px;
      overflow: hidden;
      padding: 0 10px;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .product-detail h2 {
      text-transform: capitalize;
      color: #12263a;
      padding-bottom: 0.6rem;
    }

    .product-detail p {
      font-size: 0.9rem;
      padding: 0.3rem;
      opacity: 0.8;
    }

    .product-detail ul {
      margin: 1rem 0;
      font-size: 0.9rem;
    }

    .product-detail ul li {
      margin: 0;
      list-style: none;
      background: url(shoes_images/checked.png) left center no-repeat;
      background-size: 18px;
      padding-left: 1.7rem;
      margin: 0.4rem 0;
      font-weight: 600;
      opacity: 0.9;
    }

    .product-detail ul li span {
      font-weight: 400;
    }

    .purchase-info {
      margin: 1.5rem 0;
    }

    .purchase-info input,
    .purchase-info .btn {
      border: 1.5px solid #ddd;
      border-radius: 25px;
      text-align: center;
      padding: 0.45rem 0.8rem;
      outline: 0;
      margin-right: 0.2rem;
      margin-bottom: 1rem;
    }

    .purchase-info input {
      width: 60px;
    }

    .purchase-info .btn {
      cursor: pointer;
      color: #fff;
    }

    .purchase-info .btn:first-of-type {
      background: #256eff;
    }

    .purchase-info .btn:last-of-type {
      background: #f64749;
    }

    .purchase-info .btn:hover {
      opacity: 0.9;
    }

    .card-wrapper {
      height: 100vh;
      display: flex;
      align-items: center;
    }

    .product-imgs {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .product-content {
      padding-top: 0;
    }

    .pb-3 {
      padding-bottom: 1rem !important;
      margin-top: -200px;
    }
    }
  </style>
  <!-- Diğer meta etiketleri ve başlık -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- Diğer stil ve betik etiketleri -->
</head>


<script>
  function updateLikes(id, like) {
    $.ajax({
      type: "POST",
      data: { id: id, like: like },
      url: '/Home/Edit',
      dataType: 'json',
      success: function (result) {
        var consoleMessage = 'Liked!';
        console.log(consoleMessage);

        $("#tbody1").text(consoleMessage);
      },
      error: function (error) {
        console.error("Ajax request failed: ", error);
      }
    });
  }


</script>



<!DOCTYPE html>
<html>



<body>

  <div class="card-wrapper">
    <div class="card">
      <!-- card left -->
      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">
            <img class="small-image" src="@Model.ImagePath" alt="book image">
          </div>
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class="product-content">
      <h2 class="product-title">@Model.Title</h2>
      <a href="#" class="product-link"></a>




      <div class="product-detail">
        @Model.Info

        <ul>
          <li>Pages: <span>@Model.Pages</span></li>
          <li>Genre: <span>@Model.Genres</span></li>
          @if (SignInManager.IsSignedIn(User))
          {

            <dl class="row">
              <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
              </dt>
              <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
              </dd>

              <!-- Diğer kitap özelliklerini buraya ekleyebilirsiniz -->

              <dt class="col-sm-2">
                Likes
              </dt>
              <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumberOfLikes)
              </dd>

            </dl>

            <div>
              <button onclick="updateLikes(@Model.Id, true)">Like</button>

            </div>
            <table id="tbody1"></table>




          }
        </ul>
      </div>




    </div>
  </div>
  </div>


  </div>
  <div class="w-80 m-auto">
    <a href="/Home/Index" class="btn btn-default">Back</a>
  </div>
</body>

</html>